/*font family details*/
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap');

  *{
   font-family: 'Mulish', sans-serif;
  }
.text-primary{
   color: #FF5400;
}
/*nav related styles*/
  nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px 130px;
  }

  .nav-title{
   color: #131318;
font-size: 36px;
font-weight: 800;

.nav img{
   width: 48px;
height: 56.008px;
align-items: center;


}

  }
  nav > ul{
   display: flex;
  }
  nav li{
   list-style: none;
   margin-right: 50px;

  }
  nav a{
   text-decoration: none;
   color: #424247;
  }
  /*header related styles*/
  .banner img{
   padding: 40px 130px;
  }