/*font family details*/
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;800&display=swap');

  *{
   font-family: 'Mulish', sans-serif;
  }
.text-primary{
   color: #FF5400;
}
.btn-primary{
   border-radius: 10px;
background: #FF5400;
border: 0;
color: #fff;
font-size: 1rem;
font-weight: 700;
padding: 8px;

}
/*nav related styles*/
  nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 60px 130px;
  }

  .nav-title{
   color: #131318;
font-size: 36px;
font-weight: 800;

.nav img{
   width: 48px;
height: 56.008px;
align-items: center;


}

  }
  nav > ul{
   display: flex;
  }
  nav li{
   list-style: none;
   margin-right: 50px;

  }
  nav a{
   text-decoration: none;
   color: #424247;
  }
  /*header related styles*/
  .banner img{
   padding: 40px 130px;
  }

.banner-title{
   color: #fff;
font-size: 64px;
font-weight: 800;
text-align: center;
margin-top: -470px;
}
.banner-description{
   color: #fff;
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px; /* 162.5% */
}
  .banner-input{
   color: rgba(19, 19, 24, 0.50);
text-align: center;
font-size: 16px;
font-weight: 400;
border: 8px;
  }